@font-face { font-family: StandardCT; src: url('../public/fonts/StandardCT-XBoldExtd.otf'); }

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(12, 12, 12);
    font-family: 'Standard', sans-serif;
    font-family: 'Alpino', sans-serif;
    font-family: 'StandardCT', sans-serif;
}
canvas {
  position: relative;
}


.about-text {
  font-size: 9px;
  /* border: .5px solid black; */
  padding: 5px;
  border-radius: 5px;
  /* font-family: 'Switzer', sans-serif; */
  font-family: 'Alpino', sans-serif;
}

/* Loading */
.loading {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-text h1 {
  color: rgba(208, 39, 221, 0.258);
  color: white;
}

.overlay-right-container {
  position: absolute;
  /* top: 30px; */
  /* left: 30px; */
  bottom: 30px;
  right: 30px;
  z-index: 100000000;
}
.overlay-right {
  color: rgb(14, 14, 14);
  background-color: transparent;
  position: relative;
  z-index: 10000;
}
.overlay-right img {
  width: 40px;
  height: 40px;
  opacity: 0;
  animation: fadeIn 2.5s ease-in-out forwards;
}

/* -----------------OVERLAY BUTTON MODAL REACT-SPRING-------------------- */
.overlay-button-container {
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 100%;  /* Assuming you want the overlay to be 30% of the screen width */
  /* height: 15%; */
  z-index: 100000000;
  background-color: transparent;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap: 25px;
}
.overlay-button-container .overlay-button {
  cursor: pointer;
  position: absolute;
  /* top: 50px; */
  /* left: 80px; */
  z-index: 100000000;
  transition: .3s;
  color: rgb(232, 232, 232);
}
.overlay-button-container .overlay-button:nth-child(1) {
  top: -330px;
  left: 120px;
}
.overlay-button-container .overlay-button:nth-child(2) {
  /* top: 0px; */
  /* right: 390px; */
  top: -437px;
  right: 200px;
}
.overlay-button-container .overlay-button p {
  font-size: 16px;
  font-family: 'Alpino', sans-serif;
  text-transform: uppercase;
  font-weight: 450;
  margin: 0px;
}
.overlay-button-container .overlay-button:nth-child(1) svg {
  position: absolute;
  top: -15px;
  right: -55px;
  transition: .3s;
  scale: .8;
  color: rgb(232, 232, 232);
}
.overlay-button-container .overlay-button:nth-child(2) svg {
  font-size: 26px;
  position: absolute;
  top: -15px;
  left: -55px;
  font-weight: 100;
  transition: .3s;
  scale: .8;
  color: rgb(232, 232, 232);
}
.overlay-button-container .overlay-button:nth-child(1) svg circle {
  stroke: rgba(248, 248, 248, 0.296);
  transition: .3s;
}
.overlay-button-container .overlay-button:nth-child(2) svg circle {
  stroke: rgba(248, 248, 248, 0.296);
  transition: .3s;
}

.overlay-button-container .overlay-button p:hover {
  opacity: .6;
  transition: .3s;
}
.overlay-button-container .overlay-button:hover svg {
  opacity: .6;
  transition: .3s;
}
.overlay-button {
  transition: transform 0.2s;
}
/* --------------------- ABOUT MODAL ---------------------------------------- */
.closing-button {
  position: absolute;
  top: 20px;
  right: 35px;
  cursor: pointer;
  color: rgb(233, 233, 233);
  /* font-size: 69px; */
  /* transform: rotate(45deg); */
  pointer-events: all;
  transition: .2s;
}
.closing-button p {
  margin: 0;
  font-size: 24px;
  font-family: 'Alpino', sans-serif;
}
.closing-button:hover {
  color: black;
  transition: .2s;
  /* transform: rotate(90deg); */
}
.about-modal-container {
  position: absolute;
  top: 0%;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100000000;
  background-color: #747ab770;
  backdrop-filter: blur(10px);
  pointer-events: none;
}
.about-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  /* pointer-events: all; */
}
.about-modal h2 {
  font-size: 32px;
  color: white;
  color: black;
}
.about-modal .about-text {
  padding: 0px 45px;
  text-align: center;
  max-width: 900px;
}
.about-text p {
  font-size: 24px;
  margin: 0px;
  color: white;
  color: black;
}
/*---------------------------------- Case Study Section -------------------- */
.case-study-modal-container {
  position: absolute;
  top: 60%;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000000;
  /* background-color: rgba(168, 234, 235, 0.959); */
  background-color: rgba(16, 16, 16, 0.876);
  border-radius: 0px;
  backdrop-filter: blur(10px);
}
.case-study-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
.case-study-modal h2 {
  font-size: 32px;
  color: white;
}
.case-study-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.case-study-card {
  border: 1px solid white;
  border-radius: 15px;
}
.case-study-title h3 {
  color: white;
}

/* ---------------------------- Contact Section Modal ---------------------- */
.contact-modal-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100000000;
  background-color: #747ab770;
  backdrop-filter: blur(10px);
  pointer-events: none;
}
.contact-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  /* pointer-events: all; */
}
.contact-modal h2 {
  font-size: 32px;
  color: black;
}
.contact-modal .contact-text {
  padding: 0px 45px;
  text-align: center;
}

/* ---------------------------------- PROJECT MENU SELECTION ---------------- */
.project-menu-container {
  position: absolute;
  top: 1%;
  left: 10%;
  width: 35%;
  height: 90%;
  z-index: 10000000;
  border-radius: 0px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 0px;
  overflow-x: hidden;
  perspective: 1000000px;
}
.project-menu-wrapper {
  display: flex;
}
.project-menu-container button {
  background-color: transparent;
  border: none;
}
.project-menu-container .project-button {
  color: rgba(208, 208, 208, 0.851);
  font-family: 'StandardCT', sans-serif;
  font-weight: 900;
  cursor: pointer;
  pointer-events: none;
  text-transform: uppercase;
  transition: transform 0.3s ease-out;
}
.project-button.active {
  font-weight: 900;
  font-size: 96px;
}
.project-button p {
  margin: -10px;
  pointer-events: all;
}


.outer-container {
  position: absolute;
  top: -2%;
  left: 10%;
  width: 80%;
  height: 45%;
  /* max-width: 800px; */
  margin: auto;
  display: flex;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  /* box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3); */
  overflow: hidden;
  perspective: 1000000px;
}

.outer-container > div {
  flex: 1;
  padding: 20px;
}

.outer-container .carousel-wrapper {
  /* background: orange; */
  display: flex;
  flex-direction: column;
}
/* text inside carousel */
.outer-container .carousel-wrapper p,
.carousel-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
}

.slides {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  top: 112px;
  transition: transform 0.4s ease, opacity 0.4s ease, font-size 0.4s ease, color 0.4s ease;
  padding: 0px 20px;
  cursor: pointer;
  color: rgba(194, 194, 194, 0.373);
  font-size: 82px;
  font-family: 'StandardCT', sans-serif;
  filter: blur(.5px);
}
.carousel-item.active {
  font-size: 100px;
  transform: translateY(10px);
  position: absolute;
  z-index: 1000000;
  color: white;
  transition: all 0.4s ease;
  transform: translateZ(1000px);
  /* text-shadow: black 10px 10px 1px; */
  filter: blur(0px);
}

.carousel-item.visible {
  opacity: 1;
}






/* ----------------------------------------------------------------------------
MOUSE TRAILER
---------------------------------------------------------------------------- */

#trailer {
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.714);
  /* background-color: #380e058e; */
  /* border: 1px solid black; */
  border-radius: 50%;
  position: fixed; /* no object interference */
  left: 0px;
  top: 0px;
  z-index: 90000000000000;
  scale: 1;

  pointer-events: none;
  opacity: 0;
  transition: 500ms ease;
}
#root:hover > #trailer {
  opacity: 1;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  80% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* ------------------------------------- mobile device media query ---------- */
@media only screen and (max-width: 760px) {

  .overlay-button-container {
    height: 15%;
  }

  .overlay-button-container .overlay-button:nth-child(1) {
    top: -50px;
    left: 0px;
  }
  .overlay-button-container .overlay-button:nth-child(2) {
    top: -50px;
    right: 50px;
  }
  .overlay-button-container .overlay-button p {
    font-size: 16px;
    font-family: 'Alpino', sans-serif;
    text-transform: uppercase;
    font-weight: 450;
    color: white;
  }
  .overlay-button-container .overlay-button:nth-child(1) svg {
    scale: .6;
    position: absolute;
    top: -15px;
    right: -50px;
  }
  .overlay-button-container .overlay-button:nth-child(2) svg {
    scale: .6;
    position: absolute;
    top: -15px;
    left: -50px;
  }

  .overlay-right img {
    width: 30px;
    height: 30px;
  }

  /* ABOUT MODAL */
  .about-modal-container {
    top: 0%;
  }

  .about-modal-container {
    overflow-y: hidden scroll;
  }

  .about-modal .about-text {
    padding: 0px 20px;
  }
  .about-text p {
    font-size: 14px;
  }

  /* CASE STUDY MODAL */
  .case-study-modal-container {
    width: 85%;
    height: 75%;
    left: 10%;
  }


  /* CONTACT MODAL */
  .contact-modal-container {
    position: absolute;
    top: 0;
    right: 0%;
    z-index: 100000000;
  }

  /* Project Menu */
  .project-menu-container {
    top: 2%;
    flex-direction: column;
    gap: 3px;
    left: 2%;
    width: 100%;
    height: 50%;
  }
  .project-menu-container .project-button {
    font-size: 24px;
  }
  .project-button.active {
    font-size: 24px;
  }
  .project-button:nth-child(1).active {
    margin-right: 0px;
  }
  .project-button p {
    margin: 0px;
    pointer-events: all;
  }
}
