html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(12, 12, 12);
    font-family: 'Alpino', sans-serif;
}
canvas {
  position: relative;
}


.annotation {
  /* transition: all 0.5s ease-in-out; */
  /* box-shadow: inset 0 0 0 0.09px white; */
  /* cursor: pointer; */
  /* outline: none; */
  /* border: none; */
  /* font-size: 4px; */
  /* font-weight: 300; */
  /* background: indianred; */
  color: white;
  /* padding: 5px 10px; */
  /* border-radius: 25px; */
  /* letter-spacing: 1px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* gap: 5px; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Switzer', sans-serif; */
  font-family: 'Alpino', sans-serif;

}

.annotation:hover {
  /* box-shadow: inset 250px 0 0 0 white;
  color: black; */
  cursor: pointer;
}

.about-text {
  font-size: 9px;
  /* border: .5px solid black; */
  padding: 5px;
  border-radius: 5px;
  /* font-family: 'Switzer', sans-serif; */
  font-family: 'Alpino', sans-serif;
}

/* Loading */
.loading {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-text h1 {
  color: rgba(208, 39, 221, 0.258);
  color: white;
}

.overlay-right-container {
  position: absolute;
  /* top: 30px; */
  /* left: 30px; */
  bottom: 30px;
  right: 30px;
  z-index: 100000000;
}
.overlay-right {
  color: rgb(14, 14, 14);
  background-color: transparent;
  position: relative;
  z-index: 10000;
}
.overlay-right img {
  width: 40px;
  height: 40px;
  opacity: 0;
  animation: fadeIn 2.5s ease-in-out forwards;
}

/* -----------------OVERLAY BUTTON MODAL REACT-SPRING-------------------- */
.overlay-button-container {
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 100%;  /* Assuming you want the overlay to be 30% of the screen width */
  height: 20%;
  z-index: 100000000;
  background-color: transparent;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap: 25px;
}
.overlay-button-container .overlay-button {
  cursor: pointer;
  /* position: absolute; */
  top: 50px;
  left: 80px;
  z-index: 100000000;
  transition: .3s;
  color: rgb(208, 208, 208);
}
.overlay-button-container .overlay-button:hover {
  /* color: rgb(167, 166, 166); */
  opacity: .6;
  transition: .3s;
}
.overlay-button-container .overlay-button p {
  font-size: 20px;
}
/* --------------------- ABOUT MODAL ---------------------------------------- */
.closing-button {
  position: absolute;
  top: -15px;
  right: 15px;
  cursor: pointer;
  color: rgb(84, 140, 237);
  font-size: 80px;
  transform: rotate(45deg);
}
.closing-button p {
  margin: 0;
  transition: .2s;
}
.closing-button:hover {
  color: black;
  transition: .2s;
}
.about-modal-container {
  position: absolute;
  top: 0%;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100000000;
  background-color: #747ab770;
  backdrop-filter: blur(10px);
  pointer-events: none;
}
.about-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  pointer-events: all;
}
.about-modal h2 {
  font-size: 32px;
  color: white;
  color: black;
}
.about-modal .about-text {
  padding: 0px 45px;
  text-align: center;
  max-width: 900px;
}
.about-text p {
  font-size: 24px;
  margin: 0px;
  color: white;
  color: black;
}
/*---------------------------------- Case Study Section -------------------- */
.case-study-modal-container {
  position: absolute;
  top: 60%;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000000;
  /* background-color: rgba(168, 234, 235, 0.959); */
  background-color: rgba(16, 16, 16, 0.876);
  border-radius: 0px;
  backdrop-filter: blur(10px);
}
.case-study-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
.case-study-modal h2 {
  font-size: 32px;
  color: white;
}
.case-study-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.case-study-card {
  border: 1px solid white;
  border-radius: 15px;
}
.case-study-title h3 {
  color: white;
}

/* ---------------------------- Contact Section Modal ---------------------- */
.contact-modal-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100000000;
  background-color: #747ab770;
  backdrop-filter: blur(10px);
  pointer-events: none;
}
.contact-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  pointer-events: all;
}
.contact-modal h2 {
  font-size: 32px;
  color: black;
}
.contact-modal .contact-text {
  padding: 0px 45px;
  text-align: center;
}

/* ---------------------------------- PROJECT MENU SELECTION ---------------- */
.project-menu-container {
  position: absolute;
  top: 0%;
  left: 7%;
  width: 80%;
  height: 20%;
  z-index: 10000000;
  border-radius: 0px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 25px;
  overflow-x: hidden;
}
.project-menu-container button {
  background-color: transparent;
  border: none;
}
.project-menu-container .project-button {
  font-size: 36px;
  color: rgba(208, 208, 208, 0.851);
  font-family: 'Alpino', sans-serif;
  font-weight: 800;
  /* transition: .4s; */
  cursor: pointer;
  /* margin: 0px; */
  /* opacity: .4; */
  pointer-events: none;
  text-transform: uppercase;
}
.project-button.active {
  font-size: 36px;
  /* transition: .4s; */
  /* opacity: 1; */
  font-weight: 800;
}
.project-button p {
  margin: 0px;
  pointer-events: all;
}
.project-button:nth-child(1).active {
  margin-right: 40px;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  80% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* ------------------------------------- mobile device media query ---------- */
@media only screen and (max-width: 760px) {

  .overlay-button-container .overlay-button {
    top: 15px;
    right: 30px;
  }
  .overlay-button-container .overlay-button p {
    font-size: 22px;
    font-weight: 400;
  }
  .overlay-right img {
    width: 30px;
    height: 30px;
  }

  /* ABOUT MODAL */
  .about-modal-container {
    top: 0%;
  }

  .about-modal-container {
    overflow-y: hidden scroll;
  }

  .about-modal .about-text {
    padding: 0px 20px;
  }
  .about-text p {
    font-size: 14px;
  }

  /* CASE STUDY MODAL */
  .case-study-modal-container {
    width: 85%;
    height: 75%;
    left: 10%;
  }


  /* CONTACT MODAL */
  .contact-modal-container {
    position: absolute;
    top: 0;
    right: 0%;
    z-index: 100000000;
  }

  /* Project Menu */
  .project-menu-container {
    top: 10%;
    flex-direction: column;
    gap: 3px;
    left: 2%;
    width: 100%;
  }
  .project-menu-container .project-button {
    font-size: 24px;
  }
  .project-button.active {
    font-size: 24px;
  }
  .project-button:nth-child(1).active {
    margin-right: 0px;
  }
}
